:root {
	--color-pink: rgb(255, 196, 196);
	--light-border:  rgb(255, 244, 185);
	--light-back: rgb(253, 250, 222);
}

html {
	font-size: 20px;
	text-shadow: 1px 1px white;
}

@font-face {
	font-family: 'Jane Austen';
	src: url(./assets/fonts/JaneAust.ttf);
}
@font-face {
	font-family: 'IM Fell English';
	src: url(./assets/fonts/IMFellEnglish-Regular.ttf);
}
@font-face {
	font-family: 'IM Fell English I';
	src: url(./assets/fonts/IMFellEnglish-Italic.ttf);
}

.font-ja {
	font-family: Jane Austen;
	font-weight: normal;
	font-style: normal;
}
.font-eng {
	font-family: IM Fell English;
	font-weight: normal;
	font-style: normal;
}
.font-eng-i {
	font-family: IM Fell English I;
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0;
	font-family: IM Fell English !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-image: url(./assets/images/willow-background.png);

	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: 30%;

	min-height: 100vh;
}

a {
	text-decoration: none !important;
	color: black !important;
}

a:hover {
	color: var(--color-pink) !important;
	text-shadow: 0px 0px 3px rgb(116, 104, 0);
}

.line-break {
	padding-bottom: 40px;
	margin: 0 10vw 40px;
	border-bottom: 1px solid black;
}

.name-padding {
	padding-bottom: 5vh;
}

.align-center {
	align-items: center;
	text-align: center;
}

.welcome-image {
	align-items: flex-start;
}

.welcome-image img {
	width: 30vw;
	padding: 10px;
	border-radius: 46% 46% 0% 0%;
}

.container {
	background-color: rgba(255, 255, 255, 0.3);
	padding: 20vh 0 3em;
	text-align: center;
	min-height: 100vh;
}

.text-footer {
	margin-top: 10vh;
}

.no-resize {
	resize: none;
}

.w-70 {
	width: 70%;
	margin: 0 auto;
}

.button {
	background: var(--color-pink) !important;
}

.top-right-menu {
	position: absolute;
	top: 5vh;
	right: 15vw;
}

.top-right-menu a {
	padding: 0 10px;
}

.dropdown-nav {
	position: relative;
	bottom: 100px;
	background-color: rgba(255, 255, 255, 0.7);
	display: flex;
	padding: 10px;
}

.article {
	background-color: rgba(255, 255, 255, 0.7);
	padding: 30px;
	padding-left: 40px;
	text-align: left;
}

.story-list {
	background-color: var(--light-back);
	border: 10px solid var(--light-border);
	display: flex;
	flex-wrap: wrap;
	margin: 30px auto;
	box-shadow: 0px 0px 5px 6px rgba(255, 254, 199, 0.651);
}

.story-card {
	display: flex;
	flex: 1 100%;
	flex-wrap: wrap;
	border-bottom: 3px solid var(--light-border);
	padding: 0.5em;
}

.story-card:last-child {
	border: none;
}

.story-card-title {
	flex: 1 100%;
}

.story-card-author {
	flex: 1 100%;
}

.story-card-relationship {
	flex: 1 100%;
}

#nav-toggle {
	z-index: 10;
}

@media only screen and (max-width: 768px) {
	html {
		font-size: 17px;
	}
	.welcome-image img {
		width: 75vw;
		border-radius: 0;
	}
	.w-70 {
		width: 100%;
	}
	.line-break {
		margin-left: 2vw;
		margin-right: 2vw;
	}
}
