html {
  font-size: 20px;
  text-shadow: 1px 1px white;
}

@font-face {
  font-family: "Jane Austen";
  src: url(./assets/fonts/JaneAust.ttf);
}
@font-face {
  font-family: "IM Fell English";
  src: url(./assets/fonts/IMFellEnglish-Regular.ttf)
}
@font-face {
  font-family: "IM Fell English I";
  src: url(./assets/fonts/IMFellEnglish-Italic.ttf)
}

.font-ja {
  font-family: Jane Austen;
  font-weight: normal;
  font-style: normal;
}
.font-eng {
  font-family: IM Fell English;
  font-weight: normal;
  font-style: normal;
}
.font-eng-i {
  font-family: IM Fell English I;
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: IM Fell English !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url(./assets/images/willow-background.png);

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 30%;

  min-height: 100vh;
}

a {
  text-decoration: none;
  color: black !important;
}

.name-padding {
  padding-bottom: 5vh;
}

.align-center {
  align-items: center;
}


.welcome-image img {
  width: 30vw;
  padding: 10px;
  border-radius: 46% 46% 0% 0%

}

.container {
  background-color: rgba(255,255,255,0.3);
  padding: 20vh 0 3em;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 17px;
  }
  .welcome-image img {
    width: 75vw;
    border-radius: 0;
  }
}